#version: "3"
services:
  liu-web:
    image: wayne/liu-web:0.2.0
    hostname: liu-web
    restart: unless-stopped
    container_name: liu-web
    env_file: .env
    stdin_open: true
    tty: true

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.liu-web.entrypoints=websecure"
      - "traefik.http.routers.liu-web.rule=Host(`liu.$MY_DOMAIN`)"
      - "traefik.http.routers.liu-web.tls.certresolver=lets-encr"
      - "traefik.http.services.liu-web.loadBalancer.server.port=80"
      - "traefik.http.routers.liu-web.middlewares=authelia@docker"

    volumes:
      - ./data/db:/usr/local/apache2/htdocs/db:ro

#   ports:
#     - 8084:80

networks:
  default:
    external: true
    name: $DEFAULT_NETWORK
